/*.button {
    background-color: hsla(288, 42%, 49%, 0.789);
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: white;
    border: none;
    box-shadow: 2px 2px 4px 1px hsla(0, 0%, 0%, 0.834);
}

.student {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2ch;
    padding: 10px;
    border: 1px solid black;
    margin: 1rem;
}

.student p {
    margin: 0;
}


.voter {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    min-width: 40%;
    max-width: 80%;
    background-color: hsl(208, 96%, 61%);
    border-radius: 5rem;
    box-shadow: 2px 2px 3px 2px gray;
}

.voter h2,
.voter p{
    color: white;
} 

.welcome-message {
    font-size: 2.5ch;
    background-color: rgb(0, 255, 21);
    padding: 10px;
    border-radius: 5rem;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: fit-content;
}

.login-prompt {
    font-size: 2.5ch;
    background-color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 5rem;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: fit-content;
}



.list-category {
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 600;
    font-size: 5ch;
    background-color: hsla(113, 100%, 23%, 0.713);
    padding: 20px;
    max-width: 30vw;
    margin: 0;
    text-align: center;
    border-radius: 5rem;
    box-shadow: 3px 1px 5px  rgb(45, 45, 45);
    color: rgb(211, 211, 211);

}


.list-items {

    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 400;
    padding: 20px;
    max-width: 30vw;
    margin: 0;
    text-align: center;
    border-radius: 5rem;
    list-style: none;
    line-height: 2rem;
    font-size: 3ch;
    color: rgb(160, 160, 160);
    


}

* {
    background-color: rgb(55, 55, 55);
}

.list-items li:hover {
    color: white;
    cursor: pointer;
}

.dividend {
    margin: auto;
    max-width: 40vh;
}



.classroom {
    justify-content: center;
    padding: 30px;
    width: fit-content;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3rem;
    
}

.classroom h2{
    text-align: center;
    font-size: 3.5ch;
    padding: 20px;
    background-color: hsl(237, 74%, 42%);
    border-radius: 5rem;
    box-shadow: 2px 2px 10px   rgba(211, 211, 211, 0.576);
    color: white;
    min-width: 320px;
    justify-content: center;
    
}

.classroom ul {
    line-height: 3rem;
    font-size: 3ch;
    text-align: center;
    list-style: none;
    color: hsl(0, 0%, 20%);
    background-color: hsl(220, 61%, 58%);
    padding: 3rem;
    border-radius: 6rem;
    box-shadow: 2px 2px 10px 2px rgb(109, 172, 238);
    min-width: 320px;
    justify-content: center;

}
body {
    background-color: hsla(0, 0%, 0%, 0.801);
}

.each-student li:hover {
    color: white;
    cursor: pointer;

}


@media only screen and (max-width: 674px) {

    .classroom ul {
        font-size: 1.9ch;
    }

    .classroom h2 {
        font-size: 3ch;
    }

} */

/*body{
    background-color: hsla(0, 0%, 11%, 0.916);
}

h2 {
    font-size: 4rem;
    color: white;
}

.to-do-list {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

ul {
    padding-left: 0;
    margin: 20px 20px;
}


.tasks li {
    list-style: none;
    padding: 1rem ;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: hsla(193, 100%, 50%, 0.916);
    box-shadow: 0px 0px 2px 1px white;
    display: flex;


}

ul li:nth-child(1) {
    background-color: gold;
}

.add-button {
    font-size: 1.5rem;
    background-color: rgb(4, 255, 0);
    color: white;
    border-radius: 0.4rem;
    margin-left: 20px;
    border-style: none;
}


.add-button:hover {
    box-shadow: 0px 0px 1px 1px white;
}

.delete {
    color: aliceblue;
    background-color: rgba(250, 23, 23, 0.922);
    border-style: none;
    align-items: center;

}

.delete:hover {
    transition: all ease 20ms;
    box-shadow: 0px 0px 3px 1px white;
}

input[type='text'] {
    font-size: 1.5rem;
    width: 45%;
}

.text {
    flex: 1;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: .8px #101010;

}

.delete, .move-button {
    margin-left: 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.up:hover {
    background-color: rgb(6, 255, 6);


}

.down:hover {
    background-color: rgb(209, 255, 6);
    

}
*/

body {
    background-image: url('assets/dragonball.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



.clock{
    text-align: center;

}

 .clock span {
    background-color: blueviolet;
    font-size: 4rem;

}
